@include flex-order;

html {
    min-height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-right: var(--tmb-scrollbar-width);
    overflow-x: hidden;
    overflow-y: initial;
    word-break: break-word;
}

.content-wrap {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    z-index: 1;
}

.sticky-top {
    top: 0;
    will-change: top;
    transition: top .6s cubic-bezier(.2, 1, .2, 1);
}

.navbar-show .sticky-top {
    top: #{$navbar-min-height};
}


// google maps
.gmaps {
    width: 100%;
    height: 570px;
}


// body scrollbar checker
.body-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

[mv-app]:not([mv-mode=edit]) .hide-on-read {
	display: none;
}

[property="author"]:not(:first-of-type)::before {
    content: ", ";
    vertical-align: text-bottom;
}

[property="author2"]:not(:first-of-type)::before {
    content: ", ";
}

[property="links"] img {
    display: inline-block;
	height: 2.5rem;
	vertical-align: middle;
}

[property="links"] span {
    vertical-align: text-top;
}

[property="links"] {
	display: block;
	margin-top: 10px;
    text-decoration: none;
}


[property="website_url"] img {
    width: 20px;
    height: 20px;
    text-decoration: none;
}

[property="data_url"] img {
    width: 20px;
    height: 20px;
}

[property="video_url"] img {
    height: 20px;
}

[property="code_url"] img {
    height: 20px;
}

[property="slides_url"] img {
    height: 20px;
}

[property="pdf_url"] img {
    height: 20px;
}

[property="talk_url"] img {
    height: 20px;
}

[property="short-abstract"] > p {
    padding-bottom: 20px;
}

//resume css
[property="resume-category"] {
    margin-top: 0px;
}

[property="category"] {
    color: #a32121;
    //text-transform: uppercase;
    font-weight: 600;
    //font-size: 30px;
    padding-top: 10px;
    margin-bottom: 0px;
}

[property="category-item"] {
    padding-top: 20px;
}

[property="item-heading"] {
    margin-bottom: 0px;
}

[property="item-role"] {
    margin-bottom: 0px;
    font-style: italic;
    font-weight: 200;

}

[property="item-date"] {
    color: #a32121;
    font-style: italic;
    text-align: right;
}

[property="publication-list"] {
    padding-left: 25px;
}

[property="citation"] {
    padding-left: 25px;
}
