{% set page_title = 'Emelia Hughes Portfolio' %}
{% set navbar_expand = false %}
{% set navbar_mobile = 'style-3' %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="container w-100 mt-10 align-items-center">
    <hr class="mt-50 mb-50 my-50">
            <h2 class="h3 text-center mt-80 pb-30 mb-60" style="color: #a32121">What I've been up to</h2>
            <div mv-app="news" class="mv-autoedit" mv-storage="https://github.com/emeliahughes/research-website/src/html/data">
                <ul mv-list>
                    <a class="card card-blog card-horizontal card-md" href="[href]" property="list-item" mv-list-item>
                        <span class="card-img">
                            <img src="[image]" property="[image]" alt="">
                        </span>
                        <span class="card-body">
                            <a href="[href]" class="card-title" property="title"></a>
                            <div class="card-date" property="date"></div>
                            <p class="card-text" property="text"></p>
                            <a href="[href]" class="btn btn-clean" property="button_icon"></a>
                        </span>
                    </a>
                </ul>
            </div>
</div>
{% endblock %}