{% set page_title = 'Viblio' %}
{% set navbar_mobile = 'style-3' %}
{% set navbar_sticky = true %}
{% set navbar_expand = false %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="container">

    <img class="w-100 mb-75 show-on-scroll" src="assets/images/resume.png" alt="" data-show-duration="800">

    <div class="row justify-content-center gh-1 mb-100">
        <a class="h5 col-5 p-20 m-20 btn btn-dark text-white btn-with-ball" href="https://drive.google.com/file/d/12vscvfoeQXBAP37XbI5LJzq4FfwH3Ff4/view?usp=sharing">Download (Google Drive)</a>
    </div>

</div>
{% endblock %}
