{% set page_title = 'Viblio' %}
{% set navbar_mobile = 'style-3' %}
{% set navbar_sticky = true %}
{% set navbar_expand = false %}
{% set footer = 'default-2' %}
{% set footer_dark = true %}

{% extends 'layouts/layout-1.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-center text-center pt-60 pb-130 mt-30">
        <div class="col-12 col-lg-8">
            <div class="subtitle show-on-scroll" data-show-duration="500" data-show-distance="10" data-show-delay="150">project in progress</div>
            <h1 class="h2 mb-n10 show-on-scroll" data-show-duration="500" data-show-distance="10">Viblio: Credibility Signals and Citations on YouTube</h1>
        </div>
    </div>

    <img class="w-100 mb-100 show-on-scroll" src="assets/images/portfolio/viblio-photos/cover.png" alt="" data-show-duration="800">

    <div class="row justify-content-center gh-1 mb-100">
        <div class="col-lg-8 post-content">
            <p>As more and more people turn to social media, news aggregators, and search engines as their main source of information, it can become difficult to determine the credibility of the content they see. Media manipulators have learned how to capitalize on the weaknesses of missing information and the current systems in place, driving searchers into primed zones of misinformation and conspiracies. Manipulators do not need to be able to hack into the search engine or change the way the search algorithm works to do this; they simply need to alter the information landscape.</p>
            <p>It has been shown that searchers implicitly trust Google’s search algorithm more than their own judgment (In Google We Trust). The implications of this can easily be seen; an unaware user searches the wrong search terms or clicks on a recommended video and ends up in a new world of misinformation. Currently, credibility signals get lost in the inconsistent formatting of social media and search engines. This leads us to the question: </p>
            <p class="lead fw-medium">How can we design and alter information sources so users can easily identify the credibility of a source?</p>
        </div>
    </div>

    <div class="row justify-content-center gh-1 mb-100">
        <a class="h5 col-5 p-20 m-20 btn btn-dark text-white btn-with-ball" href="https://social.cs.washington.edu/papers/IntroductingCredibilitySignalsYouTube.pdf">View Workshop Paper</a>
        <a class="h5 col-5 p-20 m-20 btn btn-dark text-white btn-with-ball" href="https://misinfocon.com/wikiux-introducing-credibility-signals-and-citations-into-online-search-and-social-platforms-7e0adddc1e08">View Background Article</a>
    </div>

    <div class="row gh-1 gv-1 mb-50">
        <div class="col-12 show-on-scroll" data-show-duration="500" data-show-delay="50">
            <img class="w-100 mb-100 show-on-scroll" src="assets/images/portfolio/viblio-photos/mockup-timeline.png" alt="">
        </div>
    </div>

    <h2 class="text-center mt-80 pb-30 mb-60">Related News</h2>
    <div class="row gh-1 gv-1 mb-n8">
        {% macro card_blog_column(name="", filter="", delay="") %}
            <div class="col-12 col-md-6 col-lg-4 show-on-scroll" data-show-duration="600" data-show-distance="20" data-show-delay="{{ delay }}">
                {{ card_blog_global(name) }}
            </div>
        {% endmacro %}
        {{ card_blog_column('urs-22', 'viblio', '25') }}
        {{ card_blog_column('icwsm', 'viblio', '50') }}
        {{ card_blog_column('urs-21', 'viblio', '75') }}
        {{ card_blog_column('mozfest', 'viblio', '100') }}
        {{ card_blog_column('misinfocon', 'viblio', '125') }}
    </div>

    <div class="page-navigation mt-160">
        <a href="projects.html" class="btn btn-light btn-circle btn-xs">all</a>
        <a href="adobe-project.html" class="btn btn-clean">next<span class="d-none d-sm-inline"> post</span>{{ icon.arrow_right | replace(' width', ' class="icon-arrow icon-arrow-right" width') | safe }}</a>
    </div>
</div>
{% endblock %}
